.content {
  max-width: 830px;
  max-height: 482px;
  padding-left: 148px;
  padding-top: 92px;
  margin: 0;
}

.content__title {
  max-width: 830px;
  max-height: 116px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0;
}

.content__text-one {
  max-width: 738px;
  max-height: 68px;
  padding-top: 40px;
  padding-bottom: 10px;
  margin: 0;
  font-size: 24px;
  line-height: 1.41;
}

.content__text-sign {
  max-width: 732px;
  max-height: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.41;
  text-align: right;
  margin: 0;
  padding-bottom: 32px;
}

.content__text-final {
  max-width: 722px;
  max-height: 182px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  margin: 0;
}

@media (max-width: 1024px) {
  .content {
    max-width: 720px;
    max-height: 490px;
    padding-left: 24px;
    padding-top: 90px;
  }

  .content__title {
    max-width: 707px;
    max-height: 98px;
    font-size: 45px;
    line-height: 1.08;
  }

  .content__text-one {
    max-width: 720px;
    max-height: 102px;
    padding-top: 50px;
    padding-bottom: 26px;
  }

  .content__text-sign {
    max-width: 720px;
    max-height: 34px;
    text-align: right;
    padding-left: 24px;
    padding-bottom: 32px;
  }

  .content__text-final {
    max-width: 720px;
  }
}

@media (max-width: 544px) {
  .content {
    max-width: 288px;
    max-height: 878px;
    padding-left: 16px;
    padding-top: 64px;
  }

  .content__title {
    max-width: 288px;
    max-height: 140px;
    font-size: 32px;
    line-height: 1.09;
  }

  .content__text-one {
    max-width: 288px;
    max-height: 180px;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 1.25;
  }

  .content__text-sign {
    max-width: 288px;
    padding-left: 16px;
  }

  .content__text-final {
    max-width: 288px;
    max-height: 442px;
  }
}
