.content {
  max-width: 830px;
  height: 482px;
  padding-left: 148px;
  padding-top: 92px;
  margin: 0;
}

.content__title {
  max-width: 830px;
  max-height: 116px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  margin: 0;
}

.content__text-one {
  max-width: 738px;
  max-height: 68px;
  padding-top: 40px;
  padding-bottom: 10px;
  margin: 0;
  font-size: 24px;
  line-height: 34px;
}

.content__text-sign {
  max-width: 732px;
  max-height: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: right;
  margin: 0;
  padding-bottom: 32px;
}

.content__text-final {
  max-width: 722px;
  max-height: 182px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0%;
  margin: 0;
}
