.footer {
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 92px;
  padding-bottom: 24px;
  max-width: 197px;
  max-height: 16px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  margin: 0;
}

@media (max-width: 1024px) {
  .footer {
    padding-top: 88px;
    padding-bottom: 24px;
  }
}

@media (max-width: 544px) {
  .footer {
    padding-top: 64px;
  }

  .footer__copyright {
    line-height: 1;
  }
}
